@charset "UTF-8";

/* em HTML é id    em CSS é # 
   em HTML é class em CSS é .
*/

body {
    background-color: #00BAF2;
    font-family: Arial, Helvetica, sans-serif;
    }

h1 { 
        color: #004E66;
    }

h2 {
        color: #075c75;
    }
h1#principal {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white ;
    border-radius: 20px;
}    
